package pages

import "github.com/jonasleonhard/go-htmx-time/templates/layouts"
import "github.com/jonasleonhard/go-htmx-time/templates/components"

templ IndexPage() {
	@layouts.BodyLayout() {
		<div class="text-red-800">xInserted from the top</div>
		@components.EditName("some_name_from_index")
	}
}
